.grid-container {
  flex: 1 1 auto;
  display: grid;
}

.color-grid {
  display: grid;
  grid-template-columns: auto repeat(12, 1fr);
  gap: 2px 0px;
  padding: 2px;
  width: 100%;
  font-family: var(--font-family-monospace);
}

.color-grid > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  gap: 2px;
}

.color-cell,
.color-name,
.header-cell {
  --swatch: gray;
  /* eventually, this would be `contrast-color(var(--swatch))`: https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/contrast-color */
  --contrast-color: hwb(from oklch(from var(--swatch) l 0 0) h calc(((b - 50) * 999)) calc(((w - 50) * 999)));
  background-color: var(--swatch);
  color: oklch(from var(--contrast-color) l 0 0 / 0.7);
}

.color-cell {
  min-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-cell {
  --l-shade: var(--l-500);
  --swatch: oklch(from black var(--l-shade) 0 0);
  font-weight: 600;
}

.color-name {
  font-weight: 600;
  text-transform: capitalize;
  gap: 8px;
}

/* Visual settings for show-as-text */
body.APPSETTING-show-as-text .color-cell,
body.APPSETTING-show-as-text .header-cell,
body.APPSETTING-show-as-text .color-name {
  color: var(--swatch);
  background: hsl(0, 0%, 50%, 0.1);
  /* background-color: color-mix(in hsl, var(--contrast-color) .1%, hsl(0, 0%, 50%)); */
}

/* Visual settings for show-labels */
body:not(.APPSETTING-show-labels):not(.APPSETTING-show-as-text) .color-cell:not(.color-name):not(:hover) {
  color: transparent;
}

/* Visual settings for space-cells */
body.APPSETTING-space-cells .color-grid {
  gap: 2px;
} 